<!-- Favicon -->


<div class="col-sm-12 bg-white p-4">
  <!-- Spinner Start -->
  <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
          <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
          </div>
      </div> -->
  <!-- Spinner End -->




  <!-- Hero Start -->
  <div class=" header bg-white pt-4">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
      <div class="col-md-5 p-5 mt-lg-5">
        <h1 class="display-5 animated fadeIn mb-4">Welcome to <span class="text-primary">Smart Dustbin Monitoring</span>
        </h1>
        <p class="animated fadeIn mb-4 pb-2">Monitor your dustbin's fill level in real-time from anywhere and Monitor
          your dustbin's fill level in real-time from anywhere</p>
        <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
      </div>
      <div class="col-md-7 animated fadeIn">
        <div class="header-carousel">
          <div class="owl-carousel-item">
            <img class="img-fluid" src="assets/smartdb.png" alt="Image non trouvée">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->





  <!-- Category Start -->
  <!-- <div class="container-xxl py-5">
          <div class="container">
              <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                  <h1 class="mb-3">Property Types</h1>
                  <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
              </div>
              <div class="row g-4">
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="assets/estate/img/icon-apartment.png" alt="Icon">
                              </div>
                              <h6>Apartment</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="assets/estate/img/icon-villa.png" alt="Icon">
                              </div>
                              <h6>Villa</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="assets/estate/img/icon-house.png" alt="Icon">
                              </div>
                              <h6>Home</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="assets/estate/img/icon-housing.png" alt="Icon">
                              </div>
                              <h6>Office</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="assets/estate/img/icon-building.png" alt="Icon">
                              </div>
                              <h6>Building</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="assets/estate/img/icon-neighborhood.png" alt="Icon">
                              </div>
                              <h6>Townhouse</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="assets/estate/img/icon-condominium.png" alt="Icon">
                              </div>
                              <h6>Shop</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="assets/estate/img/icon-luxury.png" alt="Icon">
                              </div>
                              <h6>Garage</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div> -->
  <!-- Category End -->
  <!-- Appel à l'action Commencer -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="bg-light rounded p-3">
        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
          <div class="row g-5 align-items-center">
            <div class="col-lg text-center wow fadeIn" data-wow-delay="0.5s">
              <div class="mb-4">
                <h1 class="mb-3">Contactez-nous dès maintenant ou prenez rendez-vous</h1>
                <p>Ne manquez pas cette opportunité exceptionnelle ! Contactez-nous dès aujourd'hui pour discuter de vos
                  besoins en matière d'achat de terrain.</p>
              </div>
              <a href="tel:+237674743317" class="btn btn-primary py-3 px-4 me-2"><i
                  class="fa fa-phone-alt me-2"></i>Appelez-nous</a>
              <a href="" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Prenez un rendez-vous</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Appel à l'action Fin -->
  <!-- À propos de nous -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="about-img position-relative overflow-hidden p-5 pe-0">
            <img class="img-fluid w-200" src="assets/iotimage.jpg">
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <h3 class="mb-4">Receive alerts and notifications for important events</h3>
          <p class="mb-4">users can proactively manage their smart dustbin, optimize waste collection schedules,
             and respond promptly to maintenance and critical events, ultimately improving the efficiency of waste management. </p>
          <p><i class="fa fa-check text-primary me-3"></i>Efficient Waste Management
          </p>
          <p><i class="fa fa-check text-primary me-3"></i>Efficient Waste Management:</p>
          <p><i class="fa fa-check text-primary me-3"></i>Data-Driven Insights</p>
          <a class="btn btn-primary py-3 px-5 mt-3" href="">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin de la section À propos de nous -->













  <!-- Témoignages Fin -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  <!-- Pied de page Début -->
  <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h5 class="text-white mb-4">Contactez-nous</h5>
          <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Rue, Yaounde, Cameroon</p>
          <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+237 69500000</p>
          <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@exemple.com</p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-white mb-4">Liens Utils</h5>
          <a class="btn btn-link text-white-50" href="">À propos de nous</a>
          <a class="btn btn-link text-white-50" href="">Contactez-nous</a>
          <a class="btn btn-link text-white-50" href="">Nos Services</a>
          <a class="btn btn-link text-white-50" href="">Politique de Confidentialité</a>
          <a class="btn btn-link text-white-50" href="">Conditions Générales</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-white mb-4">Galerie de Photos</h5>
          <div class="row g-2 pt-2">
            <div class="col-4">
              <img class="img-fluid rounded bg-light p-1" src="assets/estate/img/property-1.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid rounded bg-light p-1" src="assets/estate/img/property-2.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid rounded bg-light p-1" src="assets/estate/img/property-3.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid rounded bg-light p-1" src="assets/estate/img/property-4.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid rounded bg-light p-1" src="assets/estate/img/property-5.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid rounded bg-light p-1" src="assets/estate/img/property-6.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-white mb-4">Newsletter</h5>
          <p>Inscrivez-vous pour recevoir nos dernières offres et mises à jour.</p>
          <div class="position-relative mx-auto" style="max-width: 400px;">
            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Votre email">
            <button type="button"
              class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">S'inscrire</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class=" text-center text-centermb-3 mb-md-0">
            &copy;Copyright{{currentYear}}, Tous droits réservés.
            Conçu par <a class="border-bottom" href="https://htmlcodex.com">SNA Tech</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>